## Z0 Stepper - Front Left
[stepper_z]
step_pin: z:P2.2
dir_pin: !z:P2.6
enable_pin: !z:P2.1
rotation_distance: 40.2788 #war auf 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: z:P1.27
position_max: 340
position_min: -5
homing_speed: 3 #war auf 10
second_homing_speed: 3 #war auf 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: z:P1.10
interpolate: false
run_current: 0.90 #war auf 0.90
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left
[stepper_z1]
step_pin: z:P0.19
dir_pin: z:P0.20
enable_pin: !z:P2.8
rotation_distance: 40.2788
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: z:P1.9
interpolate: false
run_current: 0.90
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right
[stepper_z2]
step_pin: z:P0.22
dir_pin: !z:P2.11
enable_pin: !z:P0.21
rotation_distance: 40.2788
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: z:P1.8
interpolate: false
run_current: 0.90
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right
[stepper_z3]
step_pin: z:P2.13
dir_pin: z:P0.11
enable_pin: !z:P2.12
rotation_distance: 40.2788
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: z:P1.4
interpolate: false
run_current: 0.90
sense_resistor: 0.110
stealthchop_threshold: 0